.producto-detalle {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 2rem;
  justify-content: center;
  justify-items: left;
  width: 100%;  
  padding-top: 7rem;
  padding-bottom: 0;
}


.producto-imagen {
  height: 40vh;  
  width: auto;
  object-fit: contain;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.producto-info-detalle {
  max-width: 700px;
  text-justify: kashida;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.producto-precio {
  font-size: 1.5rem;
  font-weight: bold;
  color: #004a8b;
  margin: 1rem 0;
}

.button-add {
  background-color: #004a8b;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.productos-relacionados {
  width: 95vw;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.back-btn {
  position: fixed;
  top: 6rem;
  left: 2rem;
  background-color: #004a8b;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.pag-precios{
  display: flex;
  gap: 1rem;
}
.pag-precio-original{
  font-size: 1.5rem;
  text-decoration: line-through;
  color: #003768;  
  margin-top: 0;

}
.pag-precio-descuento{
  font-size: 1.5rem;
  font-weight: bold;
  color: #116500;
  margin-top: 0;

}
.pag-precio-normal{
  font-size: 1.5rem;
  font-weight: bold;
  color: #003768;
}
.back-btn:hover {
  background-color: #003768;
  transform: translateY(-2px);
}

/* Responsividad */
@media screen and (max-width: 768px) {
  .producto-detalle {
    flex-direction: column;
    align-items:center;
    width: 100%;
    gap: 0;
  }

  .producto-imagen {
    margin: 0 auto;
  }

  .producto-info-detalle {
    text-align: left;
  }
}
